{% extends "app1/home.html" %}

{% block body_block %}

<center>

<p>Yashoda Hospitals is a chain of hospitals based in Hyderabad, Telangana, India. It has branches in Somajiguda, Secunderabad, and Malakpet with another branch coming up in Hitec City. All of its branches are NABH[3] and NABL accredited.

It was recognised as a leading hospital for oncology in 2015 after becoming the first hospital to achieve the milestone of treating 1,00,000+ patients using RapidArc technology.</p>


<p>The hospital began as a small clinic in 1989 set up by Dr G Surendar Rao. He later teamed up with his brothers G Devender Rao and G Ravender Rao to expand operations and start Yashoda Hospitals. The clinic was originally started in Madipally village, Warangal Dist, Telangana. Dheeraj Gorukanti is the CEO of Yashoda Group of Hospitals.Dr Abhinav Gorukanti operates as a director.</p>

<p>The group has three branches in Hyderabad at Secunderabad, Malakpet, and Somajiguda with a combined bed capacity of 30000. The Secunderabad branch is NABH accredited and has a capacity of over 25000 beds.It also has 7000 trained staff including doctors, nurses, and support staff.</p>

<p>Since three decades, Yashoda Group of Hospitals has been providing quality healthcare for the people in their diverse medical needs. People trust us because of the strong relationships we’ve built with them over the years.

Under astute leadership and strong management, Yashoda Group of Hospitals has evolved as a centre of excellence in medicine providing the highest quality standards of medical treatment to all sections of the society. Our work has always been guided by the needs of patients and delivered by our perfectly combined revolutionary technology, best medical expertise and advanced procedures.</p>

</center>

{% endblock %}