{% extends "app1/home.html" %}

{% block body_block %}

<center>

<h2>BOOK APPOINMENT</h2>

<h3>

<a href="/findyourdoctor/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> FIND YOUR DOCTOR  
</a>


<a href="/calendar/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> BOOK DOCTOR APPOINMENT 
</a>


<a href="/accounts/login/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> ONLINE VIDEO CONSULATION  
</a>

</h3>

</center>

{% endblock %}
