{% load static %}

{% block body_block %}

<center>

<h1> CENTRE OF EXCELLENCE </h1>

<div class="container mt-3">
  <div class="card">
    <div class="card-body">

    <img src="{%static "/images/cardiology.png"%}"style="border-right:5px solid black">

    <img src="{%static "/images/ortho.png"%}"style="border-right:5px solid black">
    
    <img src="{%static "/images/neuroscience.png"%}"style="border-right:5px solid black">

    <img src="{%static "/images/gastro.png"%}"style="border-right:5px solid black">

    <img src="{%static "/images/mother1.png"%}"style="border-right:5px solid black">
    
    
    <img src="{%static "/images/liver.png"%}"style="border-right:5px solid black">
    
</div>
</div>
</div>

<h1>OTHER SPECIALITIES</h1>

<h5>Emergency & Critical care</h5>
<h5>Cardiology</h5>
<h5>Cardio Thoratic Surgery</h5>
<h5>Cardio Vascular Thoratic Surgery</h5>
<h5>Neuro Science</h5>
<h5>Neuro Surgery</h5>
<h5>Orthopedics</h5>
<h5>Urology</h5>
<h5>Gynecology</h5>
<h5>Gastroenterology</h5>
<h5>Nephrology</h5>
<h5>Batric surgery</h5>
<h5>Pulmonology</h5>

</center>

{% endblock %}